@font-face {
  font-family: "Poppins Light";
  src: url("../fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
  font-family: "Poppins Bold";
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins ExtraBold";
  src: url("../fonts/Poppins/Poppins-ExtraBold.ttf");
}

*{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}
html{
  touch-action: manipulation;
}

body{
  width: 100vw;
  height: 100vh;
  margin: 0px auto;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media (prefers-color-scheme:light){
  *{
    color: black;
  }
  body{
    background-color: white;
  }
  
  @media (min-width: 576px){
    header{
      width: inherit;
      height: auto;
    }
    header .headings{
      position: relative;
      display: grid;
      place-content: center;
      width: inherit;
      height: max-content;
    }
    header .headings img{
      position: absolute;
      z-index: 3;
      display: block;

    }
    .heading{
      position: absoluet;
      z-index: 1;
      top: 50px;
  }

  @media (min-width: 768px) {
    
  }

  @media (min-width: 992px) {
    
  }

  @media (min-width: 1200px) {
    
  }
}

@media (prefers-color-scheme:dark){
  *{
    color: white;
  }
  body{
    background-color: black;
  }
  @media (min-width: 576px){
    
  }

  @media (min-width: 768px) {
    
  }

  @media (min-width: 992px) {
    
  }

  @media (min-width: 1200px) {
    
  }
}
